* {
  box-sizing: border-box;
}

html {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.grid {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 300px;
}

.grid div {
  border: 1px solid;
  flex-grow: 1;
  height: 5%;
  width: 10%;
}

.grid div.player {
  background-color: darkblue; 
  background-size: 150px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.used {
  background-color: black;
}
